
.weather-search {
    width: 100%;
   padding: 5px 10px;

}

#search-button {
    width: 100%;
    margin-top: 10px;
}

#today {
    border: #333 1px solid;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
}

.city {
    text-transform: capitalize;
}