.weather-header {
    text-align: center;
    color: #FFF;
    background: rgba(84, 109, 148, 1);
    background: -moz-linear-gradient(left, rgba(84, 109, 148, 1) 0%, rgba(10, 46, 77, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84, 109, 148, 1)), color-stop(100%, rgba(10, 46, 77, 1)));
    background: -webkit-linear-gradient(left, rgba(84, 109, 148, 1) 0%, rgba(10, 46, 77, 1) 100%);
    background: -o-linear-gradient(left, rgba(84, 109, 148, 1) 0%, rgba(10, 46, 77, 1) 100%);
    background: -ms-linear-gradient(left, rgba(84, 109, 148, 1) 0%, rgba(10, 46, 77, 1) 100%);
    background: linear-gradient(to right, rgba(84, 109, 148, 1) 0%, rgba(10, 46, 77, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#546d94', endColorstr='#0a2e4d', GradientType=1);
}

.weather-search {
    width: 100%;
    padding: 5px 10px;

}

#search-button {
    width: 100%;
    margin-top: 10px;
}

#today {
    display: none;
    border: #333 1px solid;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
}

.city {
    text-transform: capitalize;
}

#forecast .card {
    color: #FFF;
    font-weight: normal;
    background-color: #465e79;
    width: auto;
}

#forecast .card-title {
    font-size: 18px;
}

#forecast .card-body {
    padding: 10px;
}

#history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#history button {
    background-color: #898d92;
    width: 100%;
    margin-top: 10px;
    text-transform: capitalize;
    text-align: center;
}